<div class="container" fxLayout="column" fxLayoutGap="20px">
    <div fxFlex>
        <div>
            <h3>Contact Us</h3>
            <hr>
        </div>
    </div>
    <div id="size-set">
        <h3>Location Information</h3>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <div fxFlex="50" fxFlexOffset="20px">
                <h4>Our Address</h4>
                <address>
                    112 DALAMAL TOWER,
                     NARIMAN POINT, Bangalore- 560012,
                    INDIA
                    <br>
                    <i class="fa fa-phone"></i>: +852 1234 5678<br>
                    <i class="fa fa-fax"></i>: +852 8765 4321<br>
                    <i class="fa fa-envelope"></i>: 
                    <a href="contact.confusion@gmail.com">imperial@food.net</a>
                </address>
                <div>
                    <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>&nbsp;
                    <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>&nbsp;
                    <a mat-raised-button href="mailto:imperial@food.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
            <div fxFlex="40">

                <h4>Map of our Location</h4>
                <img src="https://www.weather-forecast.com/locationmaps/Bangalore.10.gif">
            </div>
        </div>
    </div>
    <div fxFlex fxFlexOffset="20px" class="form-row">
        <h1>Please send your Feedback</h1>
        <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstname">First name</label>
                    <input type="text" class="form-control" placeholder="First name" required minlength="5" maxlength="15" formControlName="firstname">
                    <!-- <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error> -->
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" placeholder="Last name" minlength="5" maxlength="15" formControlName="lastname" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mobile">Mobile</label>
                    <input class="form-control" formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required> </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">E-mail</label>
                    <input type="email" class="form-control" placeholder="email" formControlName="email">
                </div>
            </div>
            <div class="form-group">
                <label for="feedback">Feedback</label>
                <textarea matInput class="form-control" formControlName="message" placeholder="Your Comment" rows="2" cols="70" required>
                </textarea>
            </div>
            <div>
                <table class="form-size">
                    <!-- <td>
                        <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
                    </td> -->
                    &nbsp;&nbsp;
                    <td>
                        <div class="form-group row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <div>
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">&nbsp;
                                        <label class="form-check-label" for="gridCheck1">Mobile</label>

                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">&nbsp;
                                        <label class="form-check-label" for="gridCheck1">E-mail</label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">&nbsp;
                                        <label class="form-check-label" for="gridCheck1">Message</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>