<div class="container" fxLayout="column">
    <div fxFlex>
        <div>
            <h2>Menu</h2>
            <hr>
        </div>
    </div>

    <div fxFlex *ngIf="dishes">
        <mat-grid-list cols="2" rowHeight="200px">
            <!-- [routerLink]="['/dishdetail', dish.id]" -->
            <mat-grid-tile *ngFor="let dish of dishes" (click)="routeToDetailedDish(dish.id)">
                <img mat-card-image src="{{dish.image }}" alt="{{dish.name}}">
                <mat-grid-tile-footer>
                    <h2>{{dish.name}}</h2>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>