<div class="container" fxLayout="row wrap" fxLayout.md="column" fxLayout.md="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="40" *ngIf="dish">
        <div fxFlex>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
                        <hr>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{dish.image}}" alt={{dish.name}}>
                <mat-card-content>
                    <p>{{ dish.description }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="btn btn-primary" (click)=" getPreviousDish()"><span class="fa fa-chevron-left fa-lg"></span></button>&nbsp;&nbsp;&nbsp;
                    <button mat-button class="btn btn-primary" (click)="goBack()">BACK</button>&nbsp;&nbsp;&nbsp;
                    <button mat-button class="btn btn-primary">LIKE</button>&nbsp;&nbsp;&nbsp;
                    <button mat-button class="btn btn-primary">SHARE</button>&nbsp;&nbsp;&nbsp;
                    <!-- <span class="flex-spacer"></span> -->
                    <button mat-button class="btn btn-primary" (click)="getNextDish()"><span class="fa fa-chevron-right fa-lg"></span></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div fxFlex="40" *ngIf="dish">
        <div fxFlex>
            <mat-list>
                <h3>Comments</h3>
                <mat-list-item *ngFor="let comment of dish.comments">
                    <h3 mat-line>{{comment.comment}}</h3>
                    <small mat-line>{{comment.rating}} Stars</small>
                    <p mat-line>
                        <span> -- {{comment.author}} {{comment.date | date}}</span>
                    </p>
                </mat-list-item>
                <!-- Form here -->
                <!-- <mat-list-item *ngIf="commentForm"> -->
                <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                    <div>
                        <div class="form-group">
                            <label for="author">Name</label>
                            <input type="text" class="form-control" id="author" formControlName="author">
                            <span class="help-block" *ngIf="!commentForm.get('author').valid&&commentForm.get('author').touched">
                                   <span *ngIf = "commentForm.get('author').errors['required']">Author name is required</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <textarea matInput class="form-control" formControlName="comment" placeholder="Your Comment" rows="2" cols="70" required>
                                    <span class="help-block" *ngIf="!commentForm.get('comment').valid&&commentForm.get('comment').touched">
                                        <span *ngIf = "commentForm.get('comment').errors['required']">Please give your review on this Dish</span>
                                    </span>
                                </textarea>
                            <!-- <input type="text" class="form-control" id="comment" formControlName="comment"> -->
                        </div>
                        <!-- <div class="form-group">
                            <label for="rating">Rating</label>
                            <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
                            <span class="help-block" *ngIf="!commentForm.get('rating').valid&&commentForm.get('rating').touched">
                                   <span *ngIf = "commentForm.get('rating').errors['required']">Please rate this dish</span>
                            </span>
                        </div> -->
                        <form [formGroup]="form">
                            <div class="cont">
                                <div class="stars">
                                    <ngx-star-rating formControlName="rating1" [id]="'rating'"></ngx-star-rating>
                                    <div>Rating: {{form.value.rating1}}</div>
                                </div>
                                <!-- <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p> -->
                            </div>
                        </form>




                        <!-- <div class="form-group">
                             <label for="email">Email</label>
                             <input type="email" class="form-control" 
                             id="email" formControlName = "email">
                
                             <span class="help-block" *ngIf="!commentForm.get('userData.email').valid && commentForm.get('userData.email').touched">
                              please enter a valid email id 
                             </span>
                          </div> -->
                    </div>

                    <!--                 
                        <div class="radio" *ngFor="let gender of genders">
                          <label>
                            <input type="radio" [value]="gender"
                            formControlName = "gender">{{gender}}
                          </label>
                        </div> -->



                    <!-- <span class="help-block" *ngIf="!commentForm.valid && commentForm.touched">
                             please enter valid data
                           </span> -->

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-primary" (click)="reset()">Reset</button>
                </form>
                <!-- </mat-list-item> -->
            </mat-list>
        </div>
    </div>
</div>